.textocualquiera {
  color: blue;
  font-weight: bold;
  font-size: 100px;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 50px 50px 50px 50px;
  padding: 50px 50px 50px 50px;
  text-align: center;
  animation-duration: 3s;
  animation-name: aparicion;
  background-color: white; }

@keyframes aparicion {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  background-image: url(../img/fondopasteleria.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.tituloimportante {
  color: blue;
  font-style: italic;
  font-size: 500%;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: 500; }

/*h1 {
  background-image: linear-gradient(cyan, pink);
  background-size: contain; }
*/
.container-fluid {
  padding-right: 0px;
  padding-left: 0px; }

.piedepagina {
  text-align: left;
  font-family: tahoma;
  background-color: #f8f9fa;
  color: blue; 
  position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
}

.piedepagina__titulo {
  font-size: 20px;
  font-weight: bold; }

.redes{ 
  list-style: none;
 }

.pequebio {
  color: blue;
  padding: 10px;
  background-color: white;
  font-family: tahoma;
  text-align: right;
  position: relative;
   }
